// create way for more ghosts to spawn as you get correct answers
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
.Game {
  border-bottom:5px solid green; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    color: white;
    background-image: url('./img/badtree.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 99vh;
    * {
        font-family: 'Eater', cursive;
        text-align: center;
    }
    .riddles {
      margin-top: 40px;
      color: white;
      height: 30px;
      font-size: 1rem;
      border-style: none;
      background-color: transparent;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    input:focus {
      outline: none;
    }
    
    input::-webkit-input-placeholder {
      color: #ff660088 !important;  
      }
       
    input:-moz-placeholder { /* Firefox 18- */
      color: #ff660088 !important;  
      }
       
    input::-moz-placeholder {  /* Firefox 19+ */
        color: #ff660088 !important;   
      }
       
    input:-ms-input-placeholder {  
        color: #ff660088 !important;  
      }

    .ghost{
    filter: blur(2px);
    display:flex;
    justify-content:space-evenly;
    height:87.5px;
    width:60px;
    background-color:rgba(158, 252, 170, 0.263);
    border-top-left-radius:50%;
    border-top-right-radius:80%;
    border-bottom-left-radius:80%;
    position: absolute;
    animation: ghost-move 30s infinite;
  }
  .ghost:hover{
    cursor: pointer;
  }
  .eye {
    margin-top:20px;
    padding-top:14px;
    height:20px;
    width:8px;
    background-color:black;
    border-radius:50%;
  }
  .mouth {
    position:absolute;
    height:40px;
    width:20px;
    top:58px;
    background-color:black;
    border-radius:50%;
  }
  
  @keyframes ghost-move {
    0%   {left:0px; top:0px; opacity:1;}
    10%  { opacity:0;}
    15%  { opacity:1;}
    25%  { left:80vw; top:50vh; opacity:0;}
    35%  { opacity:1;}
    50%  {left:100px; top:80vh; opacity:0;}
    65%  { opacity:1;}
    75%  {left:80vw; top:50vh;opacity:0;}
    85%  { opacity:1;}
    100% {left:0px; top:0px; opacity:0;}
  }
  @keyframes ghost-fade {
    0% {opacity:0;}
    50%{opacity:1;}
    100% {opacity:0;}
  }
  .tombstone {
    font-family: 'Eater', cursive;
    margin-top:15px;
    height:75px;
    width:50px;
    border:1px solid black;
    background-color:gray;
    border-top-left-radius:50%;
    border-top-right-radius:50%; 
  }
  .inscription {
    border-radius: 10%;
    color: black;
    font-size: .85rem;
    font-family: 'Amatic SC', cursive;
    background-color: transparent;
    height: 80%;
    margin-top:15%;
    text-align:center;
    text-decoration:underline;
  }
  footer {
    display: flex;
    justify-content: space-evenly;
  }
    
}