@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Eater&display=swap');
.App {
  background-color: rgb(54,69,79);

  * {
    margin:auto;
    background-color: rgb(54,69,79);
    font-family: 'Eater', cursive;
    text-align: center;
    a {
      color: black;
      text-decoration: none;
    }
  }
  height: 100vh;
  // width: 100vw;
  color:#ff6700;
    -webkit-text-stroke: .5px black;  
  h1{
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
     animation: glow 3s ease-in-out infinite alternate;
    font-size: 4rem;
    color:#ff6700;
    -webkit-text-stroke: 2px black;   
  }
  #main-subtitle {
    max-width: 150px;
    color: rgba(158, 252, 170, 0.822);
    background-color: transparent;
    transform: skew(15deg, 15deg);
  }

  input {
    margin-top: 40px;
    height: 30px;
    color:#ff6700;
    font-size: 1rem;
    border-style: none;
    
  }
  .howTo {
    margin-top: 50px;
    h3 {
      width: 150px;
      font-size: 20px;
      border-radius: 20%; 
    }
  }

  input:focus {
    outline: none;
  }
  
  input::-webkit-input-placeholder {
    color: #ff660088 !important;  
    }
     
  input:-moz-placeholder { /* Firefox 18- */
    color: #ff660088 !important;  
    }
     
  input::-moz-placeholder {  /* Firefox 19+ */
      color: #ff660088 !important;   
    }
     
  input:-ms-input-placeholder {  
      color: #ff660088 !important;  
    }


  li {
    list-style-type: none;
  }
  .tombstone {
    font-family: 'Eater', cursive;
    margin-top:15px;
    height:150px;
    width:100px;
    border:1px solid black;
    background-color:gray;
    border-top-left-radius:50%;
    border-top-right-radius:50%; 
  }
  .inscription {
    border-radius: 10%;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    background-color: transparent;
    height: 80%;
    margin-top:15%;
    text-align:center;
    text-decoration:underline;
  }
  .dirt {
    height: 20px;
    background-color: #332D1A;
    border-top:1px solid green;
    border-radius:20%; 
  }

  
  .ghost{
    display:flex;
    justify-content:space-evenly;
    height:15%;
    width:5%;
    background-color:rgba(158, 252, 170, 0.263);
    border-top-left-radius:50%;
    border-top-right-radius:80%;
    border-bottom-left-radius:80%;
    position: absolute;
    animation: ghost-move 30s infinite;
  }
  .eye {
    margin-top:30px;
    padding-top:14px;
    height:1em;
    width:.75em;
    background-color:black;
    border-radius:50%;
  }
  .mouth {
    position:absolute;
    height:2.5em;
    width:1.5em;
    top:60%;
    background-color:black;
    border-radius:50%;
  }
  
  @keyframes ghost-move {
    0%   {left:0px; top:0px; opacity:1;}
    10%  { opacity:0;}
    15%  { opacity:1;}
    25%  { left:80vw; top:50vh; opacity:0;}
    35%  { opacity:1;}
    50%  {left:100px; top:80vh; opacity:0;}
    65%  { opacity:1;}
    75%  {left:80vw; top:50vh;opacity:0;}
    85%  { opacity:1;}
    100% {left:0px; top:0px; opacity:0;}
  }
  @keyframes ghost-fade {
    0% {opacity:0;}
    50%{opacity:1;}
    100% {opacity:0;}
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(158, 252, 170, 0.263), 0 0 40px rgba(158, 252, 170, 0.263), 0 0 50px rgba(158, 252, 170, 0.263), 0 0 60px rgba(158, 252, 170, 0.263), 0 0 70px rgba(158, 252, 170, 0.263);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgba(129, 245, 118, 0.5), 0 0 40px rgba(129, 245, 118, 0.5), 0 0 50px rgba(129, 245, 118, 0.5), 0 0 60px rgba(129, 245, 118, 0.5), 0 0 70px rgba(129, 245, 118, 0.5), 0 0 80px rgba(129, 245, 118, 0.5);
    }
  }


}

@media only screen and (max-width: 640px) {
  .App {
    background-color: rgb(54,69,79);
    h1 {
      padding-top: 100px;
      font-size: 40px;
    }
  .ghost {
    height:12%;
    width:15%;
  }
  .eye {
    margin-top:20px;
    padding-top:14px;
    height:.5em;
    width:.5em;
  }
  .mouth {
    height:1.5em;
    width:1em;
    top:60%;
    
  }
  .tombstone {
    font-size:15px;
    height:100px;
    width:80px;
    border:1px solid black;
    background-color:gray;
    border-top-left-radius:50%;
    border-top-right-radius:50%; 
  }
  .inscription {
    font-family: 'Amatic SC', cursive;
    background-color: transparent;
    height: 80%;
    margin-top:15%;
    text-align:center;
    text-decoration:underline;
  }
}
}